@model Gestao.Models.Visitante

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Visitante</h4>
<hr />








<h2>Busca CEP</h2>

<form id="form-cep" method="post" action="@Url.Action("BuscarEnderecoPorCep", "Cep")">
    <div class="form-group row col-md-12">
        <label asp-for="Cep" class="control-label col-md-10"></label>


        <input asp-for="Cep" class="form-control col-md-2" maxlength="8" required />
        <input type="submit" value="Buscar" id="btnBuscar" class="btn btn-primary btn-sm" style="margin-top:-3px;" />
        <span id="loader" style="display:none;">
            <img src="~/Img/Loading.gif" alt="Carregando..." class="img-fluid" style="width:30px;" />
        </span>

    </div>
</form>


<div class="col-sm-7">
    <hr />
</div>


@if (Model != null)
{

    <div id="endereco">
        <h5>Endereço encontrado</h5>
        <p>
            <label style="width:120px;">
                <strong>Logradouro:</strong>
            </label> @Model.Logradouro<br />

            <label style="width:120px;">
                <strong>Bairro:</strong>
            </label> @Model.Bairro<br />

            <label style="width:120px;">
                <strong>Cidade / UF:</strong>
            </label> @Model.Localidade / @Model.Uf
        </p>
    </div>

}
else
{
    <div id="mensagem">
        <h3>
            @Html.Raw(TempData["Mensagem"])<br />
        </h3>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#form-cep").submit(function () {
            // Exibir o ícone de carregamento
            $("#loader").show();
            // Esconder o botão
            $("#btnBuscar").replaceWith(loader);
        });
    });
</script>






<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome Completo</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>





            <div class="form-group">
                <label asp-for="DataNasc" class="control-label">Data de Nascimento</label>
                <input asp-for="DataNasc" class="form-control" />
                <span asp-validation-for="DataNasc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Despedida Prevista</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Observacao" class="control-label">Observação  (Opcinonal)</label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input type="file" name="Img" id="Img" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="fk_MoradorID" class="control-label">Morador Associado</label>
                <select asp-for="fk_MoradorID" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Morador, "MoradorID", "Nome"))">
                </select>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
