@model Gestao.Models.Visitante

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Visitante</h4>
    <hr />
    <dl class="row">











        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.Nome) *@ <label>Nome Visitante</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>


        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.DataNasc) *@ <label>Data de Nascimento</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dd>

        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.EndDate) *@ <label>Despedida Prevista</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>


        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.Observacao) *@ <label>Observação</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>



        <div class="form-group">

            <dt class="col-sm-2">
                @*             @Html.DisplayNameFor(model => model.Foto) *@ <label>Foto</label>
            </dt>


            @{
                try
                {
                    var base64 = Convert.ToBase64String(Model.Foto);
                    if (!string.IsNullOrEmpty(base64))
                    {
                        var imgSrc = String.Format("data:image/png;base64,{0}", base64); // Correção aqui
                        <img class="img-fluid" src="@imgSrc" width="300" />
                    }
                }
                catch
                {
                    <img class="img-fluid" src="http://www.puspfc.usp.br/sistemas/prefeitura/imgs/sem_foto.png" width="150" />
                }
            }
        </div>

        <br />
        <br />

        <h5> Mais informações</h5>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>


@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd> *@


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>



    </dl>

    <label asp-for="Morador.Nome" class="control-label">Nome Do Morador</label>
    <br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </span>
        <input asp-for="Morador.Nome" class="form-control" disabled="disabled">
    </div>
</div>


<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.VisitanteID">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar a lista</a>
</div>
