@model IEnumerable<Gestao.Models.Visitante>

@{
    ViewData["Title"] = "Visitante MRV ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







@{
    if (User.IsInRole("RIta Cassia"))
    {
        // Mostrar conteúdo para o administrador

        <h1>Adm  Mostrar conteúdo para o IsInRole </h1>

    }
    else if (User.IsInRole("Sindico"))
    {
        // Mostrar conteúdo para o síndico

        <h1>sindico  Mostrar conteúdo para o IsInRole </h1>

    }
    else if (User.IsInRole("Condominio"))
    {
        // Mostrar conteúdo para o condomínio

        <h1>Condominio  Mostrar conteúdo para o IsInRole </h1>

    }
    else if (User.IsInRole("Morador"))
    {
        // Mostrar conteúdo para o morador

        <h1>Morador  Mostrar conteúdo para o IsInRole morador</h1>

    }
}








<h1>Visitante</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning" role="alert">@TempData["Message"]</div>
}


<p>
    <a class="btn btn-primary" asp-action="Create">Criar</a>
</p>

<table class="table table-hover" id="table-search">
    <thead>
        <tr>
            <th class="text-center">
                N.º
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nome) do Visitante
            </th>


            <th class ="text-center">
                @Html.DisplayNameFor(model => model.CPF)
            </th>
@* 
            <th class="text-center">
                Data de Nascimento
            </th>
 *@

            <th class="text-center">
                @* @Html.DisplayNameFor(model => model.EndDate) *@ Despedida Prevista
            </th>

@*             <th class ="text-center">
                @Html.DisplayNameFor(model => model.Observacao)
            </th> *@

            <th class="text-center">
                @Html.DisplayNameFor(model => model.Foto)
            </th>


            <th class="text-center">
                @Html.DisplayNameFor(model => model.Morador) Associado
            </th>

            <th class="text-center">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            var contador = 0;
        }

        @foreach (var item in Model)
        {
            <tr>

                <td class="text-center">
                    @(++contador)
                </td>

                <td class="text-center">
                    @{
                        var fullName = item.Nome.Split(' ');
                        var firstName = fullName[0];
                        var lastName = fullName[fullName.Length - 1];
                        @Html.DisplayFor(modelItem => firstName) @Html.Raw(" ") @Html.DisplayFor(modelItem => lastName)
                    }
                </td>


                <td class ="text-center">
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
@* 
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DataNasc)
                </td> *@

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

@*                 <td class ="text-center">
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td> *@



                <td class="text-center">
                    @{
                        try
                        {
                            var base64 = Convert.ToBase64String(item.Foto);
                            if (!string.IsNullOrEmpty(base64))
                            {
                                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                                <img class="img-fluid" src="@imgSrc" style="width: 100px; height: 100px;" />
                            }
                        }
                        catch
                        {
                            <img class="img-fluid" src="http://www.puspfc.usp.br/sistemas/prefeitura/imgs/sem_foto.png" width="70" />
                        }
                    }
                </td>


                <td class="text-center">
                    @{
                        var fullNameMorador = item.Morador.Nome.Split(' ');
                        var firstNameMorador = fullNameMorador[0];
                        var lastNameMorador = fullNameMorador[fullNameMorador.Length - 1];
                    }
                    <p>@Html.DisplayFor(modelItem => firstNameMorador) @Html.Raw(" ") @Html.DisplayFor(modelItem => lastNameMorador)</p>
                </td>

                <td class="text-center">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.VisitanteID">Editar</a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.VisitanteID">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.VisitanteID">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
