@model Gestao.Models.Veiculo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







<h1>Create</h1>

<h4>Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>




            @* Colocar o codigo de verificação de placa aqui *@

            <p>Colocar o codigo de verificação de placa aqui</p>




            <div class="form-group">
                <label asp-for="Placa" class="control-label">Placa</label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Tag" class="control-label">Possui Tag?</label>
                <select asp-for="Tag" class="form-control">
                    <option value="SIM">SIM</option>
                    <option value="NÃO">NÃO</option>

                </select>
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>



            <br />

            <br />

            <label>Dias Permitidos</label>

            <br />
            <br />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Segunda" /> @Html.DisplayNameFor(model => model.Segunda)
                </label>
            </div>









            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" id="checkTerca" asp-for="Terca" onchange="toggleScriptVisibility()" /> @Html.DisplayNameFor(model => model.Terca)
                </label>
            </div>

            <button id="toggleButton" onclick="toggleVisibility()" style="display:none;">Exibir</button>
            <button id="clearButton" onclick="clearFields()" style="display:none;">Limpar Campos</button>
            <button id="cancelarButton" onclick="cancelarFields()" style="display:none;">Cancelar</button>

            <div id="codigoPreenchido" style="display:none;">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" id="HrEntTer" asp-for="HrEntTer" type="time" step="300" style="background-color: #f0f0f0; color: #333; border: 1px solid #ccc; border-radius: 5px; padding: 8px; width: 150px;" onchange="checkInputs()" /> @Html.DisplayNameFor(model => model.HrEntTer)
                    </label>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" id="HrSaiTer" asp-for="HrSaiTer" type="time" step="300" style="background-color: #f0f0f0; color: #333; border: 1px solid #ccc; border-radius: 5px; padding: 8px; width: 150px;" onchange="checkInputs()" /> @Html.DisplayNameFor(model => model.HrSaiTer)
                    </label>
                </div>
            </div>

            <script>
                function toggleVisibility() {
                    var element = document.getElementById('codigoPreenchido');
                    var button = document.getElementById('toggleButton');

                    if (element.style.display === 'none') {
                        element.style.display = 'block';
                        button.innerText = 'Ocultar';
                        document.getElementById('clearButton').style.display = 'block'; // Mostra o botão Limpar Campos
                        document.getElementById('cancelarButton').style.display = 'block'; // Mostra o botão Limpar Campos
                    } else {
                        element.style.display = 'none';
                        button.innerText = 'Exibir';
                        document.getElementById('clearButton').style.display = 'none'; // Oculta o botão Limpar Campos
                        document.getElementById('cancelarButton').style.display = 'none'; // Oculta o botão Limpar Campos
                    }
                }

                function checkInputs() {
                    var hrEntTer = document.getElementById('HrEntTer').value;
                    var hrSaiTer = document.getElementById('HrSaiTer').value;

                    if (hrEntTer && hrSaiTer) {
                        if (hrEntTer > hrSaiTer) {
                            alert('ALERTA! A hora de entrada não pode ser Menor que a hora de saída.');
                            document.getElementById('HrSaiTer').value = '';
                        } else {
                            alert('ALERTA! De Terça-feira entrada Permitida das ' + hrEntTer + ' às ' + hrSaiTer + ' Horas.');
                        }
                    }
                }

                function toggleScriptVisibility() {
                    var checkbox = document.getElementById('checkTerca');
                    var button = document.getElementById('toggleButton');

                    if (checkbox.checked) {
                        button.style.display = 'block';
                    } else {
                        button.style.display = 'none';
                        document.getElementById('codigoPreenchido').style.display = 'none';
                        button.innerText = 'Exibir';
                        document.getElementById('clearButton').style.display = 'none'; // Oculta o botão Limpar Campos
                        document.getElementById('cancelarButton').style.display = 'none'; // Oculta o botão Limpar Campos
                    }
                }

                function clearFields() {
                    document.getElementById('HrEntTer').value = '';
                    document.getElementById('HrSaiTer').value = '';
                }

                function cancelarFields() {
                    document.getElementById('HrEntTer').value = '';
                    document.getElementById('HrSaiTer').value = '';
                }
            </script>









            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quarta" /> @Html.DisplayNameFor(model => model.Quarta)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quinta" /> @Html.DisplayNameFor(model => model.Quinta)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sexta" /> @Html.DisplayNameFor(model => model.Sexta)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sabado" /> @Html.DisplayNameFor(model => model.Sabado)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Domingo" /> @Html.DisplayNameFor(model => model.Domingo)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Todos_os_Dias" /> @Html.DisplayNameFor(model => model.Todos_os_Dias)
                </label>
            </div>



            <script>
                document.getElementById('Todos_os_Dias').addEventListener('click', function () {
                    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                    var isChecked = this.checked;
                    checkboxes.forEach(function (checkbox) {
                        checkbox.checked = isChecked;
                    });
                });
            </script>





            <script>
                var todosOsDias = document.getElementById('Todos_os_Dias');
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');

                checkboxes.forEach(function (checkbox) {
                    checkbox.addEventListener('click', function () {
                        if (todosOsDias.checked && this !== todosOsDias) {
                            todosOsDias.checked = false;
                        }
                    });
                });


                document.getElementById('Todos_os_Dias').addEventListener('click', function () {
                    var exibirButton = document.getElementById('toggleButton');
                    var camposTerca = document.getElementById('codigoPreenchido');
                    var limparCamposButton = document.getElementById('clearButton');
                    var CancelarCamposButton = document.getElementById('cancelarButton');

                    if (this.checked) {
                        exibirButton.style.display = 'inline-block'; // Mostra o botão Exibir
                        camposTerca.style.display = 'none'; // Oculta os campos relacionados à terça-feira
                        limparCamposButton.style.display = 'none'; // Oculta o botão Limpar Campos
                        CancelarCamposButton.style.display = 'none'; // Oculta o botão Cancelar Campos
                    } else {
                        exibirButton.style.display = 'none'; // Oculta o botão Exibir
                        camposTerca.style.display = 'none'; // Garante que os campos relacionados à terça-feira permaneçam ocultos
                        limparCamposButton.style.display = 'none'; // Garante que o botão Limpar Campos permaneça oculto
                        CancelarCamposButton.style.display = 'none'; // Garante que o botão Cancelar permaneça oculto
                    }
                });

                // Adicione essa parte para garantir que os campos relacionados à terça-feira permaneçam ocultos inicialmente
                document.addEventListener('DOMContentLoaded', function () {
                    var camposTerca = document.getElementById('codigoPreenchido');
                    var limparCamposButton = document.getElementById('clearButton');
                    var CancelarCamposButton = document.getElementById('cancelarButton');

                    var CancelarCamposButton = document.getElementById('clearButton');
                    var CancelarCamposButton = document.getElementById('cancelarButton');
                    camposTerca.style.display = 'none';
                    limparCamposButton.style.display = 'none';

                    CancelarCamposButton.style.display = 'none';
                });

                function cancelarFields() {
                    var camposTerca = document.getElementById('codigoPreenchido');
                    var limparCamposButton = document.getElementById('clearButton');
                    var cancelarCamposButton = document.getElementById('cancelarButton');
                    var exibirButton = document.getElementById('toggleButton');

                    // Limpa os campos HrEntTer e HrSaiTer
                    document.getElementById('HrEntTer').value = '';
                    document.getElementById('HrSaiTer').value = '';

                    camposTerca.style.display = 'none'; // Oculta os campos relacionados à terça-feira
                    limparCamposButton.style.display = 'none'; // Oculta o botão Limpar Campos
                    cancelarCamposButton.style.display = 'none'; // Oculta o botão Cancelar Campos
                    exibirButton.style.display = 'inline-block'; // Mostra o botão Exibir
                    // Adicione a linha abaixo para ocultar o botão Ocultar
                    document.getElementById('toggleButton').innerText = 'Exibir';
                }



            </script>



            <br />


            <div class="form-group">
                <label asp-for="fk_MoradorID" class="control-label">Morador Associado</label>
                <select asp-for="fk_MoradorID" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Morador, "MoradorID", "Nome"))">
                </select>
            </div>




            <br />


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


<br />

<div>
    <a class="btn btn-primary" asp-action="Index">Voltar a lista</a>
</div>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}