@model Gestao.Models.Veiculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VeiculoID" />

            <div class="form-group">
                <label asp-for="Placa" class="control-label">Placa</label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>


            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>




            <br />

            <label>Dias Permitidos</label>

            <br />



            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Segunda" /> @Html.DisplayNameFor(model => model.Segunda)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Terca" /> @Html.DisplayNameFor(model => model.Terca)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quarta" /> @Html.DisplayNameFor(model => model.Quarta)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quinta" /> @Html.DisplayNameFor(model => model.Quinta)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sexta" /> @Html.DisplayNameFor(model => model.Sexta)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sabado" /> @Html.DisplayNameFor(model => model.Sabado)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Domingo" /> @Html.DisplayNameFor(model => model.Domingo)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Todos_os_Dias" /> @Html.DisplayNameFor(model => model.Todos_os_Dias)
                </label>
            </div>


            <script>
                document.getElementById('Todos_os_Dias').addEventListener('click', function () {
                    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                    var isChecked = this.checked;
                    checkboxes.forEach(function (checkbox) {
                        checkbox.checked = isChecked;
                    });
                });
            </script>





            <script>
                var todosOsDias = document.getElementById('Todos_os_Dias');
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');

                checkboxes.forEach(function (checkbox) {
                    checkbox.addEventListener('click', function () {
                        if (todosOsDias.checked && this !== todosOsDias) {
                            todosOsDias.checked = false;
                        }
                    });
                });
            </script>

@* 
            <div class="form-group">
                <label asp-for="DiasPermitido" class="control-label"></label>
                <input asp-for="DiasPermitido" class="form-control" />
                <span asp-validation-for="DiasPermitido" class="text-danger"></span>

 *@
@* 
            <div class="form-group">
                            <label class="control-label">DiasPermitido</label>
                <div>
                                <label><input type="checkbox" name="DiasPermitido" value="Seg">Segunda-feira</label><br>
                                <label><input type="checkbox" name="DiasPermitido" value="Terça-feira"> Terça-feira</label><br>
                                <label><input type="checkbox" name="DiasPermitido" value="Quarta-feira"> Quarta-feira</label><br>
                                <label><input type="checkbox" name="DiasPermitido" value="Quinta-feira"> Quinta-feira</label><br>
                                <label><input type="checkbox" name="DiasPermitido" value="Sexta-feira"> Sexta-feira</label><br>
                                <label><input type="checkbox" name="DiasPermitido" value="Sábado"> Sábado</label><br>
                                <label><input type="checkbox" name="DiasPermitido" value="Dom">Domingo</label><br>
                                <label><input type="checkbox" name="DiasPermitido" value="Todos_Dias" id="Todos_Dias">Todos os dias</label>
                </div>
                <span class="text-danger"></span>
            </div>

                    <script>
                        document.getElementById('Todos_Dias').addEventListener('click', function () {
                            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="DiasPermitido"]');
                            var isChecked = this.checked;
                            checkboxes.forEach(function (checkbox) {
                                checkbox.checked = isChecked;
                            });
                        });
                    </script>

 *@


            </div>
            <div class="form-group">
                <label asp-for="fk_MoradorID" class="control-label">Morador Associado</label>
                <select asp-for="fk_MoradorID" class="form-control"
                        asp-items="@ViewBag.Instituicoes"></select>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<br />
<br />

<div class="form-group">
    <a class="btn btn-primary" asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
