@model IEnumerable<Gestao.Models.Veiculo>

@{
    ViewData["Title"] = "Veiculo MRV ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    <br />

    if (User.IsInRole("Admin-Master"))
    {

        <h5> Ola Admin-Master, </h5>

    }

    else if (User.IsInRole("Admin"))
    {

        <h5> Ola Admin, </h5>

    }

    else if (User.IsInRole("Sindico"))
    {

        <h5> Ola sindico, </h5>

    }
    else if (User.IsInRole("Condominio"))
    {

        <h5> Ola Condominio, </h5>

    }
    else if (User.IsInRole("Morador"))

    {

        <h5> Ola Morador, </h5>

    }
}

<div class="card card-orange-bg">


    <h1 class="card-header">Veiculo</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning" role="alert">@TempData["Message"]</div>
}




<p>
    <a class="btn btn-primary" asp-action="Create">Criar</a>
</p>

<table class="table table-hover" id="table-search">
    <thead>
        <tr>
            <th class="text-center">
                 N.º
            </th>
            <th class ="text-center">
                @* @Html.DisplayNameFor(model => model.Nome) *@ Placa
            </th>


            <th class="text-center">
                @Html.DisplayNameFor(model => model.Marca)
            </th>


            <th class="text-center">
                @Html.DisplayNameFor(model => model.Modelo)
            </th>


            <th class="text-center">
                @Html.DisplayNameFor(model => model.Cor)
            </th>


            <th class="text-center">
                @Html.DisplayNameFor(model => model.Tag)
            </th>



            <th class="text-center">
                @Html.DisplayNameFor(model => model)Dias Permitidos
            </th>




            <th class="text-center">
                @Html.DisplayNameFor(model => model.Morador) Associado
            </th>

            <th class="text-center">
                Ações
            </th>
        </tr>
    </thead>
        <div class="card-body">
    <tbody>

        @{
            var contador = 0;
        }

        @foreach (var item in Model)
        {
            <tr>

                <td class="text-center">
                    @(++contador)
                </td>


                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>


                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>


                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>


                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Cor)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>

@*                 <td>
                    @if(item.Segunda == true)
                    {
                        <text>Seg, </text>  
                    }

                    @if (item.Terca == true)
                    {
                        <text>Ter, </text>
                    }

                    @if (item.Quarta == true)
                    {
                        <text>Qua, </text>
                    }

                    @if (item.Quinta == true)
                    {
                        <text>Qui, </text>
                    }

                    @if (item.Sexta == true)
                    {
                        <text>Sex, </text>
                    }

                    @if (item.Sabado == true)
                    {
                        <text>Sab, </text>
                    }

                    @if (item.Domingo == true)
                    {
                        <text>Dom, </text>
                    }

                    @if (item.Todos_os_Dias == true)
                    {
                        <text>Permitido Todos</text>
                    }

                </td> *@

                <td class="text-center">
                    @if (item.Todos_os_Dias == true)
                    {
                        <text>Todos Dias Permitido</text>
                    }

                    else
                    {

                        @if (item.Sabado == true && item.Domingo == true && item.Segunda == false && item.Terca == false && item.Quarta == false && item.Quinta == false && item.Sexta == false)
                        {
                            <text>Apenas Final de semana </text>
                        }
                        else
                        {

                            @if (item.Segunda == true)
                            {
                                <text>Seg, </text>
                            }

                            @if (item.Terca == true)
                            {
                                <text>Ter, </text>
                            }

                            @if (item.Quarta == true)
                            {
                                <text>Qua, </text>
                            }

                            @if (item.Quinta == true)
                            {
                                <text>Qui, </text>
                            }

                            @if (item.Sexta == true)
                            {
                                <text>Sex, </text>
                            }

                            @if (item.Sabado == true)
                            {
                                <text>Sab, </text>
                            }

                            @if (item.Domingo == true)
                            {
                                <text>Dom</text>
                            }
                        }

                }
                </td>



                <td class="text-center">
                    @{
                        var fullNameMorador = item.Morador.Nome.Split(' ');
                        var firstNameMorador = fullNameMorador[0];
                        var lastNameMorador = fullNameMorador[fullNameMorador.Length - 1];
                    }
                    <p>@Html.DisplayFor(modelItem => firstNameMorador) @Html.Raw(" ") @Html.DisplayFor(modelItem => lastNameMorador)</p>
                </td>

                <td class="text-center">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.VeiculoID">Editar</a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.VeiculoID">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.VeiculoID">Deletar</a>
                </td>
            </tr>
        }







    </tbody>
</table>

</div>
</div>