@model Gestao.Models.Morador

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Morador</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome) Completo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>


        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.Endereco) *@ Endereço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>


        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.NumeroAP) oi *@ Numero AP
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroAP)
        </dd>


        <dt class="col-sm-2">
            @*             @Html.DisplayNameFor(model => model.DataNasc) *@ 	Data de Nascimento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dd>

        @{
            DateTime dataNascimento;
            if (DateTime.TryParse(Model.DataNasc, out dataNascimento))
            {
                var idade = DateTime.Today.Year - dataNascimento.Year;
                if (dataNascimento.Date > DateTime.Today.AddYears(-idade))
                {
                    idade--;
                }

                <dt class="col-sm-2">
                    <label>Idade</label>
                </dt>
                <dd class="col-sm-10">
                    @if (dataNascimento.Month == DateTime.Today.Month && dataNascimento.Day == DateTime.Today.Day)
                    {
                        <strong>Parabéns, hoje você faz @idade anos!</strong>
                    }
                    else
                    {
                        <strong>@idade</strong>
                    }
                </dd>
            }
            else
            {
                <dt class="col-sm-2">
                    <label>Idade</label>
                </dt>
                <dd class="col-sm-10">
                    <strong>N/A</strong> <!-- or any indication that the age could not be calculated -->
                </dd>
            }
        }



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>



        <div class="form-group">

            <dt class="col-sm-2">
                @*             @Html.DisplayNameFor(model => model.Foto) *@ <label>Foto</label>
            </dt>


            @{
                try
                {
                    var base64 = Convert.ToBase64String(Model.Foto1);
                    if (!string.IsNullOrEmpty(base64))
                    {
                        var imgSrc = String.Format("data:image/png;base64,{0}", base64); // Correção aqui
                        <img class="img-fluid" src="@imgSrc" width="300" />
                    }
                }
                catch
                {
                    <img class="img-fluid" src="http://www.puspfc.usp.br/sistemas/prefeitura/imgs/sem_foto.png" width="150" />
                }
            }
        </div>


    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.MoradorID">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar a lista</a>
</div>
