@model IEnumerable<Gestao.Models.Reservas>

@{
    ViewData["Title"] = "Reservas MRV ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







@{
    if (User.IsInRole("Admin"))
    {

        <h1> Ola Admin,  Mostrar conteúdo para Admin </h1>

    }
    else if (User.IsInRole("Sindico"))
    {

        <h1> Ola sindico,  Mostrar conteúdo para sindico </h1>

    }
    else if (User.IsInRole("Condominio"))
    {

        <h1> Ola Condominio,  Mostrar conteúdo para Condominio </h1>

    }
    else if (User.IsInRole("Morador"))

    {

        <h1> Ola Morador,  Mostrar conteúdo para Morador r</h1>

    }
}







<h1>Reservas</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning" role="alert">@TempData["Message"]</div>
}

<p>
    <a class="btn btn-primary" asp-action="Create">Criar</a>
</p>
<table class="table table-hover" id="table-search">
    <thead>
        <tr>
            <th class="text-center">
                N.º
            </th>

            <th class ="text-center">
                @*                 @Html.DisplayNameFor(model => model.Nome) *@ Espaço Reservado
            </th>

@*             <th class ="text-center">
                @Html.DisplayNameFor(model => model.DataHoraRes) Data Hora Res
            </th> *@
            <th class="text-center">
                Data da Reserva
            </th>

@*             <th class ="text-center">
                @Html.DisplayNameFor(model => model.DuracaoReserva)
            </th> *@

            <th class="text-center">
                Duração
            </th>


            <th class="text-center">
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th class="text-center">

                @Html.DisplayNameFor(model => model.Morador) Associado
            </th>
            <th class="text-center">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            var contador = 0;
        }

        @foreach (var item in Model)
        {
            <tr>

                <td class="text-center">
                    @(++contador)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DataHoraRes)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DuracaoReserva)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>


                <td class="text-center">
                    @{
                        var fullNameMorador = item.Morador.Nome.Split(' ');
                        var firstNameMorador = fullNameMorador[0];
                        var lastNameMorador = fullNameMorador[fullNameMorador.Length - 1];
                    }
                    <p>@Html.DisplayFor(modelItem => firstNameMorador) @Html.Raw(" ") @Html.DisplayFor(modelItem => lastNameMorador)</p>
                </td>



                <td class="text-center">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ReservasID">Editar</a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ReservasID">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ReservasID">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
